* {
    margin: 0.5%;
}
body {
    background-color: chartreuse;
    background-image: url(./img/Code\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h1, h2, h3, h4, h5, h6{
    background-color: hsl(hue, saturation, lightness);
    color: blueviolet;
}

div > p {
    font-size: larger;
}
h2:hover {
    font-size: 56px;
}
div header .heading {
    color: black;
}
div header .paragraph {
    color: rgb(206, 168, 168);
}
.strike {
    color: green;
}
div header nav {
    width: 840px;
    height: 40px;
    margin: 10px 160px;
    padding: 8px 4px;
    justify-content: center;
    background: white;
    display: inline-flex;
    border: 2px solid brown;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px gray;
    text-shadow: 2px 2px 5px black;
}
div header nav li{
    width: 120px;
    list-style: none;
}
div header nav li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.4;
    letter-spacing: 2.8px;

}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid-container .grid-item {
  background: lightcoral;
  padding: 10px;
  position: relative;
  top: 15%;
  left: 3%;
  width: 30vw;
  height: 24rem;
}