* {
    margin: 0.5%;
}
body {
    background-color: chartreuse;
    background-image: url(./img/Code\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h1, h2, h3, h4, h5, h6{
    background-color: hsl(hue, saturation, lightness);
    color: blueviolet;
}
div > p {
    font-size: larger;
}
h2:hover {
    font-size: 56px;
}
div header .heading {
    color: black;
}
div header .paragraph {
    color: rgb(206, 168, 168);
}
.strike {
    color: green;
}
div header nav {
    display: flex;
    color: black;
}
div header nav li{
    width: 80px;
}